body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #1E1F26; /*screen background*/
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5%;
    overflow: auto;
}

.profile-picture {
    margin-top: 2%;
}

.profile-picture img {
    border-radius: 50%;
    width: 140px;
    height: 140px;
    border: 3px solid #ffff;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s, transform 0.3s;
}

.profile-picture img:hover {
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.4);
    transform: scale(1.05);
}

.info-card {
    position: relative;
    background-color: #2C3E50; /* main box background */
    padding: 30px;
    max-width: 800px;
    width: 100%;
    text-align: center;
    color: #ffcc00; /*text color*/
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.3);
    border-radius: 100px;
    filter: brightness(0.17);
    transition: box-shadow 0.3s;
    transition: filter 0.3s ease, box-shadow 0.3s;
}

.info-card::before {
    content: "";
    position: absolute;
    top: -1px;
    right: -1px;
    bottom: -1px;
    left: -1px;
    border-radius: 100px;
    pointer-events: none;
    opacity: 0; 
    transition: opacity 0.3s ease;
    border: 1px solid #A5F3C0; /* Neown glow */
    box-shadow: 0 0 8px #A5F3C0, 0 0 17px #A5F3C0, 0 0 40px #A5F3C0, 0 0 60px #A5F3C0;
}

.info-card:hover {
    box-shadow: 0px 12px 25px rgba(0, 0, 0, 0.8);
    filter: brightness(1);
}

.info-card:hover::before {
    opacity: 1;
}

.info-card:hover .profile-description {
    transform: translate(-5px, -7px);
    box-shadow: 6px 6px 15px rgba(0, 0, 0, 0.8); /*shadow*/
}

.profile-description {
    transition: transform 0.3s ease;
    margin-top: 20px;
    font-size: 15px;
    line-height: 1.6;
    background-color: #3a4756; /*text box background*/
    padding: 15px;
    position: relative;
    text-align: left;
}

.buttons {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.btn {
    padding: 10px 20px;
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    transition: transform 0.3s;
    font-size: 18px;
}

.btn i {
    margin-right: 8px;
    margin-left: 8px;
    vertical-align: middle;
}

.btn img {
    vertical-align: middle;
}

.btn:hover {
    color: #ffcc00;
    transform: scale(1.25);
}

.hooksandneedles-pfp {
    width: 45px;
    height: 45px;
    object-fit: cover;
    border-radius: 50%;
    transform: translateY(8px);
  }

.linkedin-btn i {
    color: #0077b5;
    font-size: 40px;
    border-radius: 50%;
    border: 2px;
}

.instagram-btn i {
    color: #e4405f;
    font-size: 40px;
    border-radius: 50%;
    border: 2px;
}
