body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #1E1F26; /*screen background*/
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: auto;
    margin: 10vh;
    background-image: url(images/blue-brick-wall.webp);
}

/*Classes*/
.intro-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5vh;
}
/*TITLE*/
.title-sign {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    font-size: 1.75rem;
    font-family: 'Helvetica Neue', sans-serif;
    text-transform: uppercase;
    color: #fff;
    width: 47rem;
    animation: flicker 0.11s ease-in-out infinite alternate;    
}

@keyframes flicker {
    0%, 18%, 22%, 25%, 53%, 57%, 100% {
        text-shadow: 
            0 0 5px #b3e5fc,
            0 0 10px #b3e5fc,
            0 0 20px #81d4fa,
            0 0 30px #4fc3f7,
            0 0 40px #29b6f6,
            0 0 50px #0288d1,
            0 0 75px #0277bd;
    }
    
    20%, 24%, 55% {        
        text-shadow: none;
    }    
  }

.title-sign::before{
    content: '';
    position: absolute;
    top: -6px;
    right: -6px;
    bottom: -6px;
    left: -6px;
    border: 0.2rem solid #fff; /* Neown glow */
    border-radius: 2rem;
    box-shadow: 
    0 0 20px #81d4fa, 
    0 0 40px #4fc3f7, 
    0 0 80px #29b6f6;
    z-index: -1;
}

/*TITLE END*/

/*INFO CARD*/
.info-card {
    position: relative;
    background-color: #2C3E50; /* main box background */
    padding: 30px;
    max-width: 800px;
    width: 100%;
    text-align: center;
    color: #ffcc00; /*text color*/
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.3);
    border-radius: 100px;
    filter: brightness(0.17);
    transition: box-shadow 0.3s;
    transition: filter 0.3s ease, box-shadow 0.3s;
}

.info-card::before {
    content: "";
    position: absolute;
    top: -1px;
    right: -1px;
    bottom: -1px;
    left: -1px;
    border-radius: 100px;
    pointer-events: none;
    opacity: 0; 
    transition: opacity 0.3s ease;
    border: 1px solid #A5F3C0; /* Neown glow */
    box-shadow: 
    0 0 20px #00ffa3, 
    0 0 40px #00d98c, 
    0 0 80px #00b378;
}

.info-card:hover {
    box-shadow: 0px 12px 25px rgba(0, 0, 0, 0.8);
    filter: brightness(1);
}

.info-card:hover::before {
    opacity: 1;
}

.info-card:hover .profile-description {
    transform: translate(-5px, -7px);
    box-shadow: 6px 6px 15px rgba(0, 0, 0, 0.8); /*shadow*/
}

.profile-description {
    transition: transform 0.3s ease;
    margin-top: 20px;
    font-size: 15px;
    line-height: 1.6;
    background-color: #3a4756; /*text box background*/
    padding: 15px;
    position: relative;
    text-align: left;
}

.profile-picture {
    margin-top: 2%;
}

.profile-picture img {
    border-radius: 50%;
    width: 140px;
    height: 140px;
    border: 3px solid #ffff;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s, transform 0.3s;
}

.profile-picture img:hover {
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.4);
    transform: scale(1.05);
}

.buttons {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.btn {
    padding: 10px 20px;
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    transition: transform 0.3s;
    font-size: 18px;
}

.btn i {
    margin-right: 8px;
    margin-left: 8px;
    vertical-align: middle;
}

.btn img {
    vertical-align: middle;
}

.btn:hover {
    color: #ffcc00;
    transform: scale(1.25);
}

.hooksandneedles-pfp {
    width: 45px;
    height: 45px;
    object-fit: cover;
    border-radius: 50%;
    transform: translateY(8px);
  }

.linkedin-btn i {
    color: #0077b5;
    font-size: 40px;
    border-radius: 50%;
    border: 2px;
}

.instagram-btn i {
    color: #e4405f;
    font-size: 40px;
    border-radius: 50%;
    border: 2px;
}
/*INFO CARD END*/
/*SECTION 2*/